- form_for(unit) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :subject
    %br
    = f.text_field :subject
  %p
    = f.submit "Submit"