.content
  %h2.title Unit
  .inner
    - form_for unit, :html => { :class => 'form' } do |f|
      - if f.error_messages.present?
        .flash
          .message.error= f.error_messages
      .group
        = f.label :title, nil, :class => "label"
        = f.text_field :title, :class => "text_field"
        %span.description Ex: Solving a Paradox
      .group
        = f.label :description, nil, :class => "label"
        = f.text_area :description, :class => "text_area", :rows => "10"
        %span.description Ex: Schrödinger's Cat is a Zombie!

      .group.navform.wat-cf
        %button{:type => 'submit', :class => 'button'}
          = image_tag("icons/chat-japonais.png")
          Save!
        %a.button{:href => '#header'}
          = image_tag("icons/shuriken.png")
          Cancel