= render :partial => "navigation", :locals => {:unit => @unit}
#block-list.block
  .content
    %h2.title= link_to @unit.title, edit_unit_path(@unit)
    .inner
      %p=@unit.description
      - if @unit.days.empty?
        %a.button{:href => "#{new_day_path}"}
          = image_tag("web-app-theme/cross.png")
          Add your first Day
      - else
        %table.table
          %tbody
            %tr
              %th.first Day
              %th Title
              %th Description
          -@unit.days do |d|
            %tr{:class => cycle("even", "odd")}
              %td day number
              %td= d.title
              %td= d.description
