= render :partial => "partials/navigation", :locals => {:unit => @unit}
#block-list.block
  .content
    %h2.title= link_to @unit.title, edit_unit_path(@unit)
    .inner
      %p=@unit.description
      - if @unit.days.empty?
        %a.button{:href => new_unit_day_path(@unit)}
          = image_tag("web-app-theme/cross.png")
          Add your first Day
      - else
        %table.table
          %tbody
            %tr
              %th.first Day
              %th Title
              %th Description
          -@unit.days.each do |d|
            %tr{:class => cycle("even", "odd")}
              %td.first= "day ##{d.day_number}"
              %td=link_to d.title, day_path(d)
              %td= d.description
        %a.button{:href => new_unit_day_path(@unit)}
          = image_tag("web-app-theme/cross.png")
          Add a Day
      .clear
