!!! Strict
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Sensei
    = stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/default/style", :cache => true
  %body
    #container
      #header
        %h1
          %a{ :href => "/" }
            Web App
        #user-navigation
          %ul.wat-cf
            %li
              %a{ :href => "#" }
                = t("web-app-theme.profile", :default => "Profile")
            %li
              %a{ :href => "#" }
                = t("web-app-theme.settings", :default => "Settings")
            %li
              %a.logout{ :href => "/logout" }
                = t("web-app-theme.logout", :default => "Logout")
        #main-navigation
          %ul.wat-cf
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            .message.type
              %p= message
        #main
          = yield
        #footer.block
          %p
            Copyright &copy;
            = Time.now.year
        #sidebar
          = yield :sidebar
